/* MOBILE FIRST */

/*HEADER STYLES*/
header {
  min-height: auto;
}

header p {
  padding: 0.5em;
}

/* --------------- */

/* MAIN STYLES */

/* Styles for name input and errors*/
div#name-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

button#nameButton {
  margin-left: 0.5em;
}

button#nameButton:focus {
  border: 1px black solid;
}

button#nameButton:active {
  background: #8f9fb0;
  outline: #a28fb0;
  color: #5d445d;
}
button#submit {
  margin: 1em 0;
}

div#name-wrapper input {
  width: 80vw;
  font-size: 1.25em;
}

span#guest {
  text-transform: uppercase;
}

div#no-invite {
  display: none;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border-radius: 2px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  background: rgba(255, 0, 0, 0.2);
}

/* Form styles */

/* Hidden rest of form unless they are on wedding list and responding 'yes'*/
#continue-form,
#weddingOptions {
  display: none;
}

form {
  width: 95vw;
  margin: 0 auto;
}
/* overriding styles from rest of site so it's inline with labels in form */
form h2,
form p {
  padding: 0;
}

form h2 {
  font-size: 2em;
}
form p {
  margin-bottom: 1em;
}

form label:not(label[for="yes"]):not(label[for="no"]) {
  font-size: 1.5em;
  display: block;
  margin-bottom: 0.5em;
  padding: 0;
}

form label[for="yes"],
form label[for="no"],
select,
input[type="text"],
textarea {
  font-size: 1.25em;
}

input[type="text"]:not(input[id="name"]),
input[type="radio"],
select,
#rsvp {
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  height: 20vh;
}

span.side-note {
  font-size: 0.5em;
  display: block;
  margin-top: 0.5em;
}

form label[for="yes"]:focus,
form label[for="no"]:focus,
select:focus,
input[type="text"]:focus,
textarea:focus {
  outline: #a28fb0 auto 1px;
}

/*Error message and thank you styles*/
p#error {
  display: none;
  color: red;
  font-size: 1em;
}

p#error i {
  margin-right: 2px;
}

.missing {
  border: 1px solid red;
}

#thanks {
  text-align: center;
  margin: 2em;
  font-size: 1.5em;
}
/*------------------*/
/* DESKTOP/TABLE STYLES */
@media screen and (min-width: 720px) {
  header p {
    text-align: center;
  }

  div#name-wrapper input {
    width: 60vw;
  }

  form {
    width: 50vw;
    margin: 0 auto;
  }
}
