/* MOBILE FIRST */

/* GENERAL STYLES */
* {
  box-sizing: border-box;
}

body:not(footer) {
  max-width: 100vw;
  background-color: #fdf9e6;
}

p,
a,
h1,
h2,
h3,
ul {
  font-family: "Plantagenet Cherokee", Arial, sans-serif;
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.25em;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgba(0, 0, 0, 0.8);
}

a:active,
a:focus {
  border-radius: 1px black solid;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5em 0 0.75em 0;
}

p,
ul li {
  margin-bottom: 0.5em;
  line-height: 1.2;
  font-size: 1.2em;
}

ul li {
  list-style: disc;
  margin-left: 1em;
}

strong {
  font-weight: 800;
}

/*------------------------*/

/*HEADER STYLES */
/*Header flowers */

header {
  min-height: 40vh;
}

header h1 {
  position: relative;
  z-index: 1;
  line-height: 50px;
  top: 12px;
}

/* Breaks the line so it doesn't overlap with the flowers */
h1 span.firstLine {
  display: block;
}

/* toggles the h1 to zindex 0 when the mobile menu is toggled */
h1.z-toggle {
  z-index: 0 !important;
}

header div.flowers {
  position: absolute;
  top: -10%;
  right: 0px;
  z-index: 1;
}

header .flower1 {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 92.47px;
  right: 0px;
  top: 70px;
  background: url("../assets/violet-flowers.png");
}

header .flower3 {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 92.47px;
  top: -25px;
  background: url("../assets/violet-flowers.png");
}

header .flower2 {
  position: relative;
  width: 100px;
  height: 92.47px;
  right: 80px;
  top: 30px;
  background: url("../assets/violet-flowers.png");
}

/* Nav styles */
.desktop-nav-wrapper {
  display: none;
}

.mobile-nav-wrapper {
  width: 100%;
  z-index: 1;
  position: absolute;
  display: none;
  background-color: inherit;
  min-width: 100vw;
  height: auto;
  padding: 15px 10px;
}

.mobile-nav-wrapper ul li {
  list-style-type: none;
  margin: 0;
}

.mobile-nav-wrapper li {
  padding: 1em;
}

/*Burger menu*/

.toggled {
  /*Menu appears when burger icon clicked*/
  top: 85px;
  display: block !important;
  margin-bottom: 10px;
}

button.menu:focus {
  outline: none;
  border: 1px black solid;
  border-radius: 10px;
}

button.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin-bottom: 0.76em;
}

.line {
  fill: none; /*This is to remove any fill so you just see the lines*/
  stroke: black;
  stroke-width: 2;
  transition: stroke-dashoffset 400ms;
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/*---------------------*/

/* MAIN BODY STYLES */
main {
  min-height: calc(100vh - 50vh); /*So the footer stays at the bottom*/
  padding: 1em;
}

button:not(button.menu) {
  display: block;
  background: #914dd0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  height: auto;
  padding: 1em 1.5em;
}

button:hover:not(.menu) {
  cursor: pointer;
  background-color: #b1a3ff;
}

/*-------------------------*/
/*FOOTER STYLES */

footer {
  padding: 0.75em;
  opacity: 70%;
}

footer p {
  text-align: right;
  text-transform: uppercase;
}

@media screen and (max-width: 380px) {
  /* Really small mobiles */
  header div.flowers {
    top: -100px;
  }
}

@media screen and (min-width: 720px) {
  button.menu,
  .mobile-nav-wrapper a {
    display: none;
  }

  nav.desktop-nav-wrapper {
    display: flex;
    justify-content: center;
    margin: 1.5em;
  }

  nav.desktop-nav-wrapper a {
    padding: 0 2em;
  }

  header div.flowers {
    right: -50px;
  }

  header .flower1 {
    right: 0px;
    top: 70px;
  }

  header .flower3 {
    right: -10px;
    top: -25px;
  }

  header .flower2 {
    right: 90px;
    top: 30px;
  }

  h1 {
    text-align: center;
  }

  h1 span.firstLine {
    display: inline;
  }
}

@media screen and (min-width: 800px) {
  header div.flowers {
    top: -75px;
  }
}
