/*Mobile first */

/* HEADER STYLES */
header h1:first-line {
  max-width: 50%;
}

header img {
  width: 100%;
  opacity: 90%;
}

/*------------------------*/

/* MAIN BODY STYLE */
h2 i {
  margin-right: 0.2em;
}

p:nth-of-type(2n) {
  margin-bottom: 1.5em; /*Gives more of a space between the different methods of travelling */
}

@media screen and (min-width: 720px) {
  header img {
    margin: 0 auto;
    display: block;
  }

  main {
    margin: 0 auto;
    width: 70vw;
  }
}
