/* MOBILE FIRST */

/* HEADER STYLES */

header {
  min-height: auto;
}

header p {
  padding: 0.5em;
}

h1 {
  margin-bottom: 0.2em;
}

h2 i {
  margin-right: 0.2em;
}

/*--------------*/
/*MAIN BODY */
div.cards-wrapper {
  width: 80vw;
  margin: 0 auto;
}

div.card {
  margin: 1em 0;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  background: #f2f7fc;
}

div.card-header h2 {
  background: #8f9fb0;
  color: #1d0029;
  padding: 0.5em;
  margin: 0;
}

div.card-header img {
  align-items: center;
  width: 100%;
  margin: 0;
}

div.card-text {
  margin: 0;
  padding: 1em;
}

.card-text p {
  margin: 1.5em 0 1em 0;
}

button.external {
  width: 100%;
}

/*DESKTOP/TABLET STYLES*/
@media screen and (min-width: 720px) {
  header h1 {
    margin: 0 auto;
  }

  header p {
    text-align: center;
  }

  div.cards-wrapper {
    width: 95vw;
  }
}

/*-----------------------------*/

/*LARGE SCREEN STYLES */

@media screen and (min-width: 1024px) {
  header p {
    text-align: center;
  }

  div.cards-wrapper {
    display: flex;
    justify-content: center;
  }

  div.card {
    margin: 1em;
  }
}
